<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width">
    <title>Contacts App</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../vendor/ionic/css/ionic.css" />
    <link rel="stylesheet" href="../lib/global/css/style-global.css" />
    <link rel="stylesheet" href="../lib/views/css/style-contact-details.css" />
</head>
<body class="content">
<div class="bar bar-header bar-positive">
    <button class="button button-icon icon  ion-chevron-left button-clear" onclick="steroids.layers.popAll()">Back</button>
    <div class="h1 title">Contact Details</div>
</div>
<div id="contact-details"></div>
<!-- Scripts -->
<script src="http://localhost/cordova.js"></script>
<script src="../components/steroids-js/steroids.js"></script>
<script src="../lib/global/js/zepto.js"></script>
<script src="../lib/global/js/echo.js"></script>
<script src="../lib/global/js/app-global.js"></script>
<script src="../lib/views/js/view-contact-details.js"></script>
</body>
</html>